@model IEnumerable<MvcContatos.Models.ContatoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContatoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContatoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @*@Html.ActionLink("Endereços", "Details", new { id=item.ContatoId }, new { target="_blank" })*@
            <button class="btn btn-success details" data-id="@item.ContatoId">Endereços<i class="glyphicon glyphicon-file"></i></button>
        </td>
    </tr>
}
</table>
<div id="modal" class="modal fade" tabindex="-1" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
